[Unit]
Description=Run start-volttron on reboot

[Service]
WorkingDirectory=/home/lazlo/volttron/volttron
ExecStart=/bin/bash -c '/home/lazlo/volttron/volttron/start-volttron'
User=lazlo
Type=forking

[Install]
WantedBy=multi-user.target
